
body {
  background-color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* HEADER-MOBILE */
header {
  padding: 0;
  margin: 1px;
  display: flex;
  width: 100;
  height: 1fr;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#main-container .introduction h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #172b4b;
  font-weight: 700;
  margin: 70px 40px 10px 40px;
}

header a {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.774);
  font-weight: 700;
}

header #bmenu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header #bmenu .material-symbols-outlined {
  margin: 20px 35px 0 0;
  font-size: 35px;
  color: black;
}

/* INTRODUCCTION-SECTION */
#main-container .introduction {
  background-image: url(../img/background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100%;
  display: inline-block;
  padding-top: 50px;
}

#main-container .introduction h2 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #36b37e;
  font-weight: 700;
  margin: 10px 45px 56px 45px;
}

footer p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: -80px;
  color: #42526e;
}

#main-container .introduction p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  font-weight: 400;
  margin: 0 30px 40px 30px;
}

footer .social-button .social-t {
  cursor: pointer;
  font-size: 25px;
  border: none;
  background-color: transparent;
}

footer .social-button {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

#main-container .introduction .social-button .social-t {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

#main-container .introduction .social-button {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

footer .social-button .social-t .fa-brands {
  color: rgb(80 95 121);
  margin: 0 5px 10px 5px;
}

#main-container .introduction .social-button .social-t .fa-brands {
  color: rgb(80, 95, 121);
  margin: 0 7px 10px 7px;
}

#main-container .down-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  list-style: none;
  padding: 0;
}

#main-container .down-button #down-b {
  margin-top: -30px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: rgb(210 212 217) solid 1px;
  border-radius: 50%;
}

#main-container .down-button #down-b a .fa-chevron-down {
  margin-bottom: 5px;
  background-color: transparent;
  color: #172b4d;
  font-size: 20px;
}

#main-container .my-recent-work {
  text-align: center;
}

#main-container .my-recent-work h2 {
  margin: 0 70px 0 70px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4b;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 52px;
}

#main-container .work-section {
  display: grid;
  justify-content: center;
}

#main-container .work-section .card {
  display: inline;
  background-color: white;
  max-width: 331px;
  height: 474px;
  border-radius: 10px;
  border: rgba(132, 128, 128, 0.5) solid 1px;
  margin: 20px auto 20px auto;
  justify-content: center;
}

#main-container .work-section .cards-title {
  margin: 0 30px 10px 20px;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #3a4a42;
}

#main-container .work-section .mini-card-list {
  margin-top: 10px;
  list-style: none;
  text-align: center;
  padding: 0;
}

#main-container .work-section .mini-card-list .list-name {
  display: inline-block;
  background: #ebf0ee;
  color: #3a4a42;
  font-family: 'Inter', Times, serif;
  border-radius: 4px;
  padding: 8px 12px;
}

#main-container .bg {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#main-container .bg .goproject {
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  border-radius: 4px;
  transition-duration: 0.1s;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#main-container .work-section .bg {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#main-container .work-section .bg .goproject {
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  margin: 0;
  border-radius: 4px;
  transition-duration: 0.1s;
}

#main-container .bg .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .bg .goproject:hover {
  background-color: #36b37f;
  color: white;
}

#main-container .formulary .bg .goproject {
  font-size: 20px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  border-radius: 4px;
  transition-duration: 0.1s;
}

#main-container .about-me .bg .goproject {
  font-size: 20px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  border-radius: 4px;
  transition-duration: 0.1s;
}


#main-container .formulary .bg .goproject:hover {
  background-color: #36b37f;
  color: white;
}

#main-container .formulary .bg .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .work-section .bg .goproject:hover {
  background-color: #36b37f;
  color: white;
}

#main-container .work-section .card .img {
  background-color: #ebf0ee;
  max-width: 330px;
  height: 300px;
  border-radius: 10px;
}

#main-container .about-me h2 {
  font-size: 52px;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  text-align: center;
  color: #172b4b;
  margin: 70px 45px 10px 45px;
}

#main-container .about-me p {
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #42526e;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 30px 30px 70px 30px;
}

#main-container .about-me .backaboutone {
  display: flex;
  justify-content: right;
}

#main-container .about-me .backaboutone img {
  margin-top: 23px;
  margin-bottom: -125px;
  justify-content: left;
}

#main-container .about-me .backabouttwo {
  display: flex;
  justify-content: left;
}

#main-container .about-me .backabouttwo img {
  margin-bottom: -20px;
  margin-top: -50px;
}

#main-container .about-me .bg {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#main-container .about-me .bg .goproject:hover {
  background-color: #36b37f;
  color: white;
}

#main-container .tech-card .about-me-icons {
  text-align: center;
  margin: 40px 0 0 0;
}

#main-container .tech-card .about-me-icons img {
  margin: 40px 0 0 0;
}

#main-container .about-me .bg .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .work-section .bg .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .tech-card h3 {
  text-align: center;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  margin-bottom: 10px;
}

#main-container .tech-card {
  list-style: none;
  background-color: #ebf0ee;
  max-width: 327px;
  height: 352px;
  border-radius: 8px;
  border: rgba(128, 128, 128, 0.418) solid 1px;
  margin: 60px auto 20px auto;
}

#main-container ul {
  padding: 0;
}

#main-container .tech-card .mini-card-list-l {
  margin-top: 10px;
  list-style: none;
  text-align: center;
  padding: 0;
}

#main-container .tech-card .mini-card-list-l .list-name-i {
  display: inline-block;
  background: #fff;
  color: #36b37e;
  font-family: 'Inter', Times, serif;
  border-radius: 4px;
  padding: 8px 12px;
}

#main-container .formulary h3 {
  font-size: 40px;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  text-align: center;
  color: #172b4b;
  margin: 70px 45px 10px 45px;
}

#main-container .formulary form .field {
  font-size: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: #d0d9d4 solid 1px;
  margin: 15px;
  padding: 10px;
  width: 80%;
  height: 48px;
  border-radius: 4px;
}

#main-container .formulary form .field-t {
  font-size: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: #60c095 solid 1px;
  margin: 15px 0 40px 0;
  padding: 10px;
  width: 80%;
  height: 114px;
  border-radius: 4px;
}

#main-container .formulary .last-icon {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: right;
  font-size: 20px;
}

#main-container .formulary .last-icon img {
  margin-top: -10px;
  margin-bottom: -300px;
}

#main-container .formulary form {
  text-align: center;
}
