
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* HEADER-MOBILE */
header {
  padding: 0;
  margin: 1px;
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

header .h-desktop {
  display: none;
}

#main-container {
  max-width: 100%;
}

#main-container .introduction h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #172b4b;
  font-weight: 700;
  margin: 70px 40px 10px 40px;
}

header a {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.774);
  font-weight: 700;
}

header #bmenu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header #bmenu .material-symbols-outlined {
  margin: 20px 35px 0 0;
  font-size: 35px;
  color: black;
}

/* INTRODUCCTION-SECTION */
#main-container .introduction {
  background-image: url(../img/background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100%;
  display: grid;
  padding-top: 50px;
}

#main-container .introduction h2 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #36b37e;
  font-weight: 700;
  margin: 10px 45px 56px 45px;
}

footer p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: -80px;
  color: #42526e;
}

#main-container .introduction p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  font-weight: 400;
  margin: 0 30px 40px 30px;
}

footer .social-button .social-t {
  cursor: pointer;
  font-size: 25px;
  border: none;
  background-color: transparent;
}

footer .social-button {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

#main-container .introduction .social-button .social-t {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

#main-container .introduction .social-button {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

footer .social-button .social-t .fa-brands {
  color: rgb(80 95 121);
  margin: 0 5px 10px 5px;
}

#main-container .introduction .social-button .social-t .fa-brands {
  color: rgb(80, 95, 121);
  margin: 0 7px 10px 7px;
}

#main-container .down-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  list-style: none;
  padding: 0;
}

#main-container .down-button #down-b {
  margin-top: -30px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: rgb(210 212 217) solid 1px;
  border-radius: 50%;
}

#main-container .down-button #down-b a .fa-chevron-down {
  margin-bottom: 5px;
  background-color: transparent;
  color: #172b4d;
  font-size: 20px;
}

#main-container .my-recent-work {
  text-align: center;
}

#main-container .my-recent-work h2 {
  margin: 0 70px 0 70px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4b;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 52px;
}

/* MOBILE VERSION */
#main-container .work-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
}

#main-container .work-section .card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  width: 331px;
  min-height: 473px;
  max-height: 473px;
  border-radius: 10px;
  border: rgba(132, 128, 128, 0.5) solid 1px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main-container .work-section .cards-title {
  margin: 20px 30px 10px 20px;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #3a4a42;
}

#main-container .work-section .mini-card-list {
  margin-top: 10px;
  list-style: none;
  text-align: center;
  padding: 0;
}

#main-container .work-section .mini-card-list .list-name {
  display: inline-block;
  background: #ebf0ee;
  color: #3a4a42;
  font-family: 'Inter', Times, serif;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 5px;
}

#main-container .bg {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

footer .formulary form .goproject {
  font-size: 20px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  border-radius: 4px;
  transition-duration: 0.1s;
  display: flex;
  margin: auto;
}

footer .formulary form .goproject:hover {
  background-color: #36b37f;
  color: white;
}

footer .formulary form .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .bg .goproject {
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  border-radius: 4px;
  transition-duration: 0.1s;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#main-container .work-section .bg {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#main-container .work-section .bg .goproject {
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  margin: 0 0 30px 0;
  border-radius: 4px;
  transition-duration: 0.1s;
}

#main-container .bg .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .bg .goproject:hover {
  background-color: #36b37f;
  color: white;
}

#main-container .about-me ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 0;
}

#main-container .about-me .bg .goproject {
  font-size: 20px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  background-color: #36b37f;
  color: white;
  padding: 12px;
  margin: 5px 0 0 0;
  border-radius: 4px;
  transition-duration: 0.1s;
}

#main-container .work-section .bg .goproject:hover {
  background-color: #36b37f;
  color: white;
}

#main-container .work-section .card .img {
  background-color: #ebf0ee;
  min-width: 100%;
  height: 300px;
  border-radius: 10px;
}

#main-container .about-me p {
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #42526e;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 30px 30px 70px 30px;
}

#main-container .about-me .backaboutone {
  display: flex;
  justify-content: right;
}

footer .formulary .last-icon img {
  margin-top: -10px;
  margin-bottom: -300px;
}

footer .one {
  display: none;
}

footer .three {
  display: none;
}

#main-container .about-me .backaboutone-desktop {
  display: none;
}

#main-container .about-me .backabouttwo-desktop {
  display: none;
}

#main-container .about-me .backaboutone img {
  margin-top: 23px;
  margin-bottom: -125px;
}

#main-container .about-me .backabouttwo {
  display: flex;
  justify-content: left;
}

#main-container .about-me .backabouttwo img {
  margin-bottom: -20px;
  margin-top: -50px;
}

#main-container .about-me .bg {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#main-container .about-me .bg .goproject:hover {
  background-color: #36b37f;
  color: white;
}

#main-container .tech-card .about-me-icons {
  text-align: center;
  margin: 20px 0 0 0;
}

#main-container .tech-card .about-me-icons img {
  margin: 0;
}

#main-container .about-me .bg .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .work-section .bg .goproject:active {
  background-color: #008552;
  color: white;
}

#main-container .about-me h2 {
  font-size: 40px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #172b4b;
  margin: 70px 45px 10px 45px;
}

footer .formulary h3 {
  font-size: 40px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #172b4b;
  margin: 70px 45px 10px 45px;
}

#main-container .tech-card h3 {
  text-align: center;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  margin-bottom: 20px;
}

#main-container .tech-card {
  list-style: none;
  background-color: #ebf0ee;
  max-width: 297px;
  height: 352px;
  border-radius: 8px;
  border: rgba(128, 128, 128, 0.418) solid 1px;
  margin: 60px auto 20px auto;
}

#main-container .tech-card .mini-card-list-l {
  margin-top: 10px;
  list-style: none;
  text-align: center;
  padding: 0;
}

#main-container .tech-card .mini-card-list-l .list-name-i {
  display: inline-block;
  background: #fff;
  color: #36b37e;
  font-family: 'Inter', Times, serif;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0;
  list-style: none;
}

footer .formulary form .field {
  font-size: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: #d0d9d4 solid 1px;
  margin: 15px;
  padding: 10px;
  width: 80%;
  height: 48px;
  border-radius: 4px;
}

footer .formulary form .field-t {
  font-size: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: #60c095 solid 1px;
  margin: 15px 0 40px 0;
  padding: 10px;
  width: 80%;
  height: 114px;
  border-radius: 4px;
  resize: nose;
}

footer .formulary .last-icon {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: right;
  font-size: 20px;
}

footer .formulary form {
  text-align: center;
}

/* TABLET-VERSION */
@media screen and (min-width: 650px) {
  #main-container .work-section {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    margin: 0 auto;
  }

  #main-container .introduction h1 {
    color: #172b4b;
    margin: 70px 100px 10px 100px;
    padding: 0 100px;
    font-size: 48px;
  }
}

/* PC-VERSION */
@media screen and (min-width: 1030px) {
  header {
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: rgb(52 69 99);
  }

  #main-container .introduction h1 {
    color: #172b4b;
    margin: 70px 250px 10px 250px;
    padding: 0 100px;
    font-size: 48px;
  }

  #main-container .introduction h2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
    color: #36b37e;
    font-weight: 700;
    margin: 10px 45px 56px 45px;
  }

  footer p {
    display: none;
  }

  #main-container .introduction p {
    color: #172b4d;
    margin: 0 250px 40px 250px;
    padding: 0 100px;
  }

  header a {
    display: none;
  }

  header #bmenu {
    display: none;
  }

  header .h-desktop {
    display: flex;
  }

  header .h-desktop ul {
    list-style: none;
    display: flex;
    padding: 0;
    color: rgb(52 69 99);
  }

  header .h-desktop ul li {
    margin: 20px;
  }

  header .h-desktop ul li a {
    display: flex;
    color: rgb(52 69 99);
    margin: 0;
    font-size: 20px;
  }

  #main-container .work-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 auto 100px auto;
  }

  #main-container .introduction {
    background-image: url(../img-desktop/background-desktop.svg);
    padding-bottom: 200px;
  }

  #main-container .down-button {
    margin-top: 100px;
  }

  footer .one img {
    margin-top: -300px;
  }

  footer .formulary .last-icon img {
    display: none;
  }

  #main-container .my-recent-work img {
    display: none;
  }

  #main-container .about-me .backaboutone img {
    display: none;
  }

  #main-container .about-me .backabouttwo img {
    display: none;
  }

  #main-container .about-me .backaboutone-desktop {
    display: flex;
    justify-content: right;
    margin-bottom: -350px;
  }

  #main-container .about-me .backabouttwo-desktop {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    margin-top: -82px;
  }

  #main-container .about-me p {
    font-size: 20px;
    margin: 0 120px;
    padding: 0 120px;
  }

  #main-container .about-me h2 {
    margin-top: 200px;
  }

  footer .formulary h3 {
    font-size: 30px;
    padding: 50px;
    text-align: left;
  }

  footer .formulary {
    display: inline-flex;
  }

  footer .form1 {
    width: 100%;
    margin: 60px 0 0 0;
  }

  footer .formulary form .field {
    margin-left: 0;
  }

  footer .formulary form .goproject {
    text-align: left;
    margin: 0;
  }

  footer .formulary form {
    text-align: left;
  }

  footer .one {
    display: flex;
    justify-content: right;
    margin-bottom: -350px;
  }

  footer .two {
    display: flex;
    justify-content: space-around;
  }

  footer .three {
    display: flex;
    justify-content: left;
  }

  footer .three .left {
    margin-top: 0;
  }

  footer .three .center {
    margin-top: 60px;
    margin-left: 135px;
  }
}
